---
layout: base.njk
---

<div class="hero">
  <div class="hero__title">{{ title }}</div>
  <div class="hero__subtitle">{{ sub }}</div>
</div>
<section class="blog__list">
  {{ content | safe }}
</section>