---
layout: base.njk
---

<div class="hero hero-post">
  <div class="hero__content-post">
    <div class="hero__title-post">{{ title }}</div>
    <div class="hero__subtitle-post">{{ sub }}</div>
    <div class="hero__author-post">Posted by <span>{{ author}}</span> on {{ page.date | makeDate }}</div>
  </div>
</div>
<section class="blog__post">
  {% if gallery %}
    <div class="gallery">
      {% for pic in gallery %}
        <img src={{pic}} alt="">
      {% endfor %}
    </div>
  {% endif %}
  {{ content | safe }}
</section>


