---
layout: page.njk
title: "Ho detto!"
sub: "Chi parte con la squadra gioca..."
# cssFile: "home.css"
heroUrl: "https://images.unsplash.com/photo-1594641673584-e7a55adf1e85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80"
---

{% set lastPosts = collections.posts | reverse | slice(2) %}
{% for post in lastPosts[0] %}

  <div class="post">
    <div>
      <a href={{ post.url }}>
        <div class="post__title">
            {{ post.data.title }}
        </div>
        <div class="post__sub">
            {{ post.data.sub}}
        </div>
      </a>
    </div>
    <div class="post__author">
        Posted by <span>{{ post.data.author}}</span> on {{ page.date | makeDate }}
    </div>
  </div>
{% endfor %}
{% if (collections.posts | length) > (lastPosts[0] | length) %}
  <div class="older-button"><a href="/olderPosts"><span>Older posts&nbsp;&nbsp;&rarr;</span></a></div>
{% endif %}